doctype html
html
  head
    meta(charset='utf-8')      
    title Stocks
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body
    h1 Stock Market
    #personal-info
      div#name Name
        input#name-input(type='text' placeholder='name')
      div#balance Balance
        input#balance-input(type='number')
      button#update Update Account
    #headdisplay
      p#dispname
      p#dispcash
    #controls
      #portfolio-create
        input#portfolio-name(type='text')
        button#create-portfolio Create Portfolio
    #stock-buy
        input#symbol(type='text' placeholder='Symbol')
        select#portfolio-list
        input#num-shares(type='number')
        button#buy buy
    #portfolios: h1 Portfolios
    #total: h1 Total
      #total-num

    script(src='/vendor/moment/min/moment.min.js')
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/lodash/lodash.min.js')
    script(src='/vendor/firebase/firebase.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
