#dispname{
  font-size: 18px;
  font-weight: bold;
}
#dispcash {
  font-size: 18px;
  font-weight: bold;
}
#portfolios {
  position: relative;
  overflow: auto;
}
#portfolios > div {
  float: left;
  margin: 20px;
  border: 1px solid gray;
  padding: 5px;
}
.hidden {
  display: none;
}
#total-num {
  font-size: 16px;
}
span {
  font-size: 18px;
  font-weight: bold;
  margin: 5px;
}
